.danbot .danSktL .plane {
	adisplay:none;
	-webkit-backface-visibility:hidden;
}
.danbot .danSktR .plane {
	adisplay:none;
	-webkit-backface-visibility:hidden;
}
.danbot .danSktF .plane {
	adisplay:none;
	-webkit-backface-visibility:hidden;
}
.danbot .danSktB .plane {
	adisplay:none;
	-webkit-backface-visibility:hidden;
}