.Mesh * {
	-webkit-transform-origin:left top;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility:hidden;
	position: absolute;

}
.Object3D {
	-webkit-transform-origin:left top;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility:hidden;
	position: absolute;
}